{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
			</section>
		</div>

		<!-- Admin Links -->
		{% if user.is_superuser %}
		<div class="space-y-1">
			<a href="{% url 'approve' %}"
			   class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 hover:bg-gray-100 hover:text-gray-900 rounded-lg">
				<i class="fas fa-user-check mr-3 text-gray-400"></i>
				Approve Users
			</a>
			<a href="{% url 'manage_teams' %}"
			   class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 hover:bg-gray-100 hover:text-gray-900 rounded-lg">
				<i class="fas fa-users-cog mr-3 text-gray-400"></i>
				Manage Teams
			</a>
		</div>
		{% endif %}
	</body>
</html>
